<h3 class="mb-5">
  Add New Question
</h3>

<div th:if="${message.error}" class="alert alert-danger inline-alert">
  <h5>Error!</h5>
  <p th:utext="${message.error}" class="mb-0" />
</div>

<form action="/add" method="POST">
  <div class="form-group">
    <label for="title">
      Title
    </label>
    <input
      th:value="${data.title}"
      th:classappend="${validation.size() > 0 && !validation.title ? 'is-invalid' : null}"
      type="text"
      class="form-control shadow-sm"
      id="title"
      name="title"
      placeholder="General subject area of the question..."
     />
  </div>
  
  <div class="form-group">
    <label for="question">
      Question
    </label>
    <input
      th:value="${data.body}"
      th:classappend="${validation.size() > 0 && !validation.body ? 'is-invalid' : null}"
      type="text"
      class="form-control shadow-sm"
      id="body"
      name="body"
      placeholder="Question text..."
     />
  </div>
  
  <div class="form-row">
    <div class="form-group col">
      <label for="course">
        Select an existing course...
      </label>
      <select
        th:classappend="${validation.size() > 0 && !validation.course ? 'is-invalid' : null}"
        class="form-control shadow-sm"
        id="course"
        name="course"
       >
        <option
          th:selected="${!data.course}"
          value=""
          disabled
         >
          Select Course
        </option>
        <option
          th:each="course : ${courses}"
          th:value="${course}"
          th:utext="${course}"
          th:selected="${course.equals(data.course)}"
         ></option>
      </select>
    </div>

    <div class="form-group col">
      <label for="newCourse">
        ...or create a new one
      </label>
      <input
        th:value="${data.newCourse}"
        th:classappend="${validation.size() > 0 && !validation.course ? 'is-invalid' : null}"
        type="text"
        class="form-control shadow-sm"
        id="newCourse"
        name="newCourse"
        placeholder="Course Name"
       />
    </div>
  </div>
  
  <div class="form-group">
    <label for="answer">
      Correct Answer
    </label>
    <input
      th:value="${data.answer}"
      th:classappend="${validation.size() > 0 && !validation.answer ? 'is-invalid' : null}"
      type="text"
      class="form-control shadow-sm"
      id="answer"
      name="answer"
      placeholder="Give the correct answer to the question, other options are added after creation..."
     />
  </div>
  
  <div class="form-group mt-5">
    <input type="submit" value="Create" class="btn btn-primary shadow-sm" />
  </div>
</form>
